@media screen and (min-width: 600px){
    header div{
        display: flex;
        background-color: #999999;
        }
        
        hgroup{
        margin-left: 20%;
        color: #ff0000;
        }
        
        .content{
        margin-left: 20%;
        margin-right: 20%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        }
        
        h3{
        border-bottom: black solid 1px;
        }
        
        h4{
        color: #ff0000;
        }
        
        .experience-institution{
            font-weight: 300;
        }
        
        .experience-institution::before{
        content: '@ ';
        
        }
        
        .experience-date-separator{
            color: #ff0000;
        }
        
        .experience-date{
        color: rgba(68, 62, 62, 0.5) ;
        
        }
        
        .experience-location{
            color: rgba(68, 62, 62, 0.5) 
        
        }
        
        .experience-location::before{
        content: 'In' ;
        }
        
        section h3::before{
        content: '';
        border-radius: 50%;
        background-color: #ff0000;
        padding: 10px;
        display:inline-block
        }
        
        #contact{
            position: absolute;
            top: 0%;
            right: 0%;
            margin-top: 40px;
            padding-right: 10%;
        }
        
        .contact{
        margin: 0;
        color: white;
        background-color: #ff0000;
        width: 350px;
        height: 20px;
        }
        
        .contact-value{
            background-color: black;
            color: #ff0000;
            position: relative;
            width: 350px;
            height: 20px;
            margin-top: -18.5px;
            margin-left: 120px;
        }
        
        a:link{
            color: #ff0000;
            text-decoration: none;
        }
        
        a:visited{
            color: #ff0000;
        }
        
        .contact::after{
        content: '      ';
        }
        
        #contact h3{
         display: none; 
        }
        
        .skill   {
            border: 2px solid white;
            background-color: #cccccc;
            margin-top: 0;
            padding:2px;
            width: 100%;
            height: 30px;
            color: white;
        
          }
        
        
        
        
         .skills-primary>[data-skill="5"] >span{
            width:50%;
            background-color: red;
            display: block;
            height: 100%;
        
        }
        
        .skills-primary>[data-skill="3"] >span{
            width: 30%;
            background-color: red;
            display: block;
            height: 100%;
        }
        
        .skills-primary>[data-skill="1"] >span{
            width: 10%;
            background-color: red;
            display: block;
            height: 100%;
        }
        
        [data-skill="9"] >span{
            width: 90%;
            background-color: red;
            display: block;
            height: 100%;
        }
        .skills-secondary>[data-skill="5"] >span{
            width:50%;
            background-color: red;
            display: block;
            height: 100%;
        
        }
        
        [data-skill="7"]>span {
            width: 70%;
            background-color: red;
            display: block;
            height: 100%;
        }
        
        .skills-primary::before{
            content: 'Main';
        }
        .skills-secondary::before{
            content: 'Other';
        }
         
}

@media screen and (max-width: 600px) {
    header div{
        display: flex;
        background-color: #999999;
        }
        
        hgroup{
        margin-left: 20%;
        color: #ff0000;
        }
        
        .content{
        margin-left: 20%;
        margin-right: 20%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        }
        
        h3{
        border-bottom: black solid 1px;
        }
        
        h4{
        color: #ff0000;
        }
        
        .experience-institution{
            font-weight: 300;
        }
        
        .experience-institution::before{
        content: '@ ';
        
        }
        
        .experience-date-separator{
            color: #ff0000;
        }
        
        .experience-date{
        color: rgba(68, 62, 62, 0.5) ;
        
        }
        
        .experience-location{
            color: rgba(68, 62, 62, 0.5) 
        
        }
        
        .experience-location::before{
        content: 'In' ;
        }
        
        section h3::before{
        content: '';
        border-radius: 50%;
        background-color: #ff0000;
        padding: 10px;
        display:inline-block
        }
        
        #contact{
            position: absolute;
            top: 0%;
            right: 0%;
            margin-top: 40px;
            padding-right: 10%;
        }
        
        .contact{
        margin: 0;
        color: white;
        background-color: #ff0000;
        width: 350px;
        height: 20px;
        }
        
        .contact-value{
            background-color: black;
            color: #ff0000;
            position: relative;
            width: 350px;
            height: 20px;
            margin-top: -18.5px;
            margin-left: 120px;
        }
        
        a:link{
            color: #ff0000;
            text-decoration: none;
        }
        
        a:visited{
            color: #ff0000;
        }
        
        .contact::after{
        content: '      ';
        }
        
        #contact h3{
         display: none; 
        }
        
        .skill   {
            border: 2px solid white;
            background-color: #cccccc;
            margin-top: 0;
            padding:2px;
            width: 100%;
            height: 30px;
            color: white;
        
          }
        
        
        
        
         .skills-primary>[data-skill="5"] >span{
            width:50%;
            background-color: red;
            display: block;
            height: 100%;
        
        }
        
        .skills-primary>[data-skill="3"] >span{
            width: 30%;
            background-color: red;
            display: block;
            height: 100%;
        }
        
        .skills-primary>[data-skill="1"] >span{
            width: 10%;
            background-color: red;
            display: block;
            height: 100%;
        }
        
        [data-skill="9"] >span{
            width: 90%;
            background-color: red;
            display: block;
            height: 100%;
        }
        .skills-secondary>[data-skill="5"] >span{
            width:50%;
            background-color: red;
            display: block;
            height: 100%;
        
        }
        
        [data-skill="7"]>span {
            width: 70%;
            background-color: red;
            display: block;
            height: 100%;
        }
        
        .skills-primary::before{
            content: 'Main';
        }
        .skills-secondary::before{
            content: 'Other';
        }
        
}